/*header*/
@import url('https://fonts.googleapis.com/css2?family=League+Spartan&family=Nunito:wght@400;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}
footer {
    background-color: #1B2F33;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}
footer img {
    height: 55px;
}
.name {
        font-size: 700;
    color: #CEFDFF;
    text-decoration: none;
}
.name:hover {
    color: #007bff;
        transform: scale(1.1);
}
header {
    background-color: #1B2F33;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}
header .logo {
    cursor: pointer;
}
header .logo img {
    height: 125px;
    width: auto;
    transition: all 0.3s;
}
header .logo img:hover {
    transform:scale(1.2)
}
header .nav-links {
    list-style: none;
}
header .nav-links li {
    display: inline-block;
    padding: 0 20px;
}
header .nav-links li:hover {
    transform: scale(1.1);
}
header .nav-links a {
    font-size: 700;
    color: #CEFDFF;
    text-decoration: none;
}
header .nav-links li a:hover {
    color: #007bff;
}
header .btn button {
    font-weight: 700;
    background-color: #007bff;
    color: #CEFDFF;
    padding: 9px 25px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
header .btn button:hover {
    background-color: #CEFDFF;
    color: #1B2F33;
    transform: scale(1.1);
}

.banner1 {
    position: relative;
    margin: 0 auto;
}
.banner1 img {
    width: 100%;
}

.button {
    position:absolute;
    bottom: 50%;
    right: 44%;
    font-weight: 700;
    font-size: 35px;
    background-color: #007bff;
    color: #CEFDFF;
    padding: 9px 25px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.button:hover {
    background-color: #CEFDFF;
    color: #1B2F33;
    transform: scale(1.1);
}

.div1 {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    justify-items: center;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 40px;
    margin-left: 50px;
}
.div1 p {
    background-image: linear-gradient(#1b2f33, #2a4858);
    color: white;
    padding: 10px;
}
.div2 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-bottom: 40px;
    margin-right: 50px;
}
.div2 p {
    background-image: linear-gradient(#1b2f33, #2a4858);
    color: white;
    padding: 10px;
}

body {
    background-color: #d3d3d3;
}
h1 {
    font-family: "league spartan";
    font-size: 60px;
    text-align: center;
        margin-left: 60px;
    margin-right: 60px;
}
p {
    text-align: center;
    font-size: 24px;
    margin-left: 60px;
    margin-right: 60px;
    border-radius: 50px;
}
img {
    border-radius: 50px;
}

